.hoverbtn {
  background-color: royalblue;
  color: rgb(136, 24, 24);
  border: none;
  padding: 10px 20 px;
  border-radius: 8px;
  cursor: pointer;
}
.hoverbtn:hover {
  background-color: red;
}
.card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  transition: box-shadow 0.3s;
}
.card:hover {
  box-shadow: 0 4px 15px rgba(134, 36, 36, 0.2);
}
.zoomPic {
  border-radius: 10px;
  transition: transform 0.3s;
}
.zoomPic:hover {
  transform: scale(1.1); /* хулгана очиход бага зэрэг томорно */
}
